* {
    margin: 0;
    padding: 0;
}

header {
    border-bottom: 2PX DASHED #8bc34a;
}

.header-content {
    WIDTH: 90%;
    MARGIN-LEFT: 5%;
    /* PADDING-TOP: 15PX; */
    /* PADDING-BOTTOM: 15PX; */
    overflow: hidden;
}

.logo {
    WIDTH: 20%;
    float: left;
}

.logo img {
    WIDTH: 50%;
}
nav{width: 32%;float: right;padding-top: 15px;}
nav ul{

list-style: none;

overflow: hidden;
}
nav ul li{

float: left;

margin-right: 24px;

font-size: 20px;

text-transform: capitalize;
}
.content{

width: 60%;

margin-left: 20%;

/* color: blue; */

text-align: center;

overflow: hidden;
}
.content h1{

text-align: center;


color: #4b4bef;

font-size: 35px;

}
.content p{
    
text-align: center;
    
font-size: 15px;
    
color: #2ddf0c;
    
margin: 30px;
}
.content img{
            
width: 80%;
            
margin-top: 31px;
}
.content h1:first-child{
    color: rgb(0, 0, 0);
    margin-top: 50px;
}
.main-content{

}
.left-content{

width: 45%;

float: left;

/* text-align: right; */
}
.left-content h1{

text-align: right;

color: !importent;

color: red !important;
}
.left-content p{

text-align: right;

margin: 5px;
}
.right_content{

width: 45%;

float: right;
}
.right_content h1{

color: black;

font-size: 30px;

text-align: left;
}
.original{

width: 90%;

margin-left: 5%;

text-align: center;

margin-top: 39px;
}
.original-content{
    
width: 30%;
    
float: left;
    
/* height: 31px; */
}
.original-content img{

width: 95%;
}
.original-content_one{

float: left;

width: 30%;
}
.original-content_one img{

width: 95%;
}
.original-content_two{

WIDTH: 32%;

float: left;
}
.original-content_two img{
    
width: 95%;
}

